{% extends 'base.html.twig' %}

{% block title %}About Time To Fit
{% endblock %}

{% block body %}
	<div class="container">
		<h1 class="nom-propos">TIME TO FIT</h1>
		<h3 class="en-tete">
			Agir pour son bien être avec les meilleures séances spécialement conçues et adaptées à vos objectifs !
		</h3>
		<div class="content-propos">
			<div class="content-img">
				<img src="img/coach-sport-trois.png" alt="" class="content-img"/>
			</div>

			<div class="container-text-about">
				<h3 class="paragraphe-propos">COMMENT FAIRE DU SPORT À LA MAISON ?
				</h3>

				<div class="text-block">
					<p class="presentation">Exercices faciles à l’aide des objets du quotidien (bouteilles d’eau, escaliers,
						chaise etc..). Il existe mille et une façons de pratiquer une activité physique chez soi ou
						n’importe où ! Alors après avoir enfilé sa tenue de sport et poussé ses meubles, il ne nous reste
						plus qu’à trouver la meilleure option et s’armer de bonne volonté. Comme à la salle de sport, on
						n’oublie pas de bien s’échauffer, de s’hydrater et de s’étirer après la séance !
					</p>
				</div>

				<h3 class="paragraphe-propos">LES MEILLEURS EXERCICES

				</h3>

				<p class="presentation">On mise sur les classiques. Squats pompes, fentes ou encore tractions sont des
					exercices faciles à réaliser à la maison pour se muscler rapidement. Déplacer des meubles mais
					surtout vérifier l’endroit pour trouver la bonne position et ne pas se blesser. Pour les plus
					équipés, on opte pour un renforcement musculaire efficace pour se laisser tenter par la corde à
					sauter ou encore le vélo d’appartement.
				</p>
			</div>
		</div>
	</div>
{% endblock %}
