{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block body %}
	<div class="container">

		<img
		src="img/time-to-fit-muscle-sport.png" class="home-img" alt=""/>
		{# </div> #}
		<div class="home">
			<section class="home-section active">
				<div class="hero">
					<h1 class="hero-heading">DEVENEZ MAÎTRE DE
						<br/>VOTRE CORPS</h1>
					<p class="para">
						Avec Time To Fit, vous aurez toujours le temps<br/>
						pour une petite séance adapté à vos objectifs
					</p>
					<h3 class="para">FAITES RESSORTIR LE CORPS DE VOS RÊVES</h3>
					<p class="maigrir">
						Le premier programme qui vous propose des séances<br/>
						intenses et rapide en fonction de votre planning
					</p>
					<a href="register" class="button a">INSCRIVEZ-VOUS MAINTENANT</a>
				</div>
			</section>
		</div>
		<div class="container-text">
			<h1 class="nom">TIME TO FIT</h1>
			<p class="presentation">
				L’utilité d’avoir un plan pour son bien-être est le meilleur moyen de
				vivre sereinement au quotitdien. Time to Fit vous propose des séances en
				fonction de votre niveau sportif et vous propose des plans de repas
				hebdomadaires gratuitement et facile à préparer !
			</p>
			<p class="presentation">L’objectif de Time To Fit est de préparer vos séances de sport en fonction de vos horaires
				disponible. Pour cela, on a mit au point un système qui vous permettra de gravir les échelons avec des niveaux de
				débutant, moyen, et difficile ! Vous commencerez bien évidemment au niveau débutant sauf si vous avez déjà
				l’habitude de faire du sport et de bien savoir entretenir votre corps !</p>
			<p class="presentation">Vous pourrez également faire d’autres séances si le temps et l’envie vous prend et vous
				pouvez calculer le nombre de calorie que vous avez mangé dans la journée ! Time To Fit vous accompagne au
				quotidien pour vous offrir le bien être que vous méritez !</p>
		</div>

		<div class="block-container">
			<div class="rectangle">
				<div class="block-text">
					<h3 class="block-title">
						Quel repas pour manger sainement ?
					</h3>
					<p class="description">
						Nous avons sélectionné pour vous les aliments les plus efficaces pour perdre du poids. Plus de secret entre
						nous, on vous dévoile tout !
					</p>
					<a href="inscription.html" class="button-a">Oui, je veux tout savoir</a>
				</div>
				<div class="block-meal">
					<img src="img/meal-block-un.jpeg" class="images">
					<img src="img/meal-block-quatre.png" class="images">
					<img src="img/meal-block-un.jpeg" class="images">
					<img src="img/meal-block-quatre.png" class="images">
					<img src="img/meal-block-un.jpeg" class="images">
				</div>
			</div>
		</div>
	</div>
{% endblock %}
