body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-family: "Nexa Light", "sans-serif";
  text-align: center;
  background-color: rgb(0, 0, 0);
  color: white;
}

.nav-wrapper {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100px;
  padding: 0;
  box-sizing: border-box;
  margin-bottom: 150px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;

  z-index: 10;
  background-color: black;
}

.navbar {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0 1%;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  color: white;
}

.nav-logo {
  height: 50px;
  width: auto;
  padding: 0 1%;
}

.link-group {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  margin: 0;
  padding: 0;
  list-style-type: none;
  color: inherit;
}

a,
a:visited,
a:active {
  text-decoration: none;
  color: white;
  font-size: 24px;
}

a.button,
a.a {
  border: 5px solid #f0623c;
  border-radius: 10px;
}

.input-group {
  margin-bottom: 10px;
}

.link {
  padding: 2%;
}

.link.a {
  padding: 2%;
}

.login {
  display: flex;
}

.login-wrapper {
  right: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  list-style-type: none;
  color: inherit;
}

.home {
  display: flex;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  color: #f0623c;
  padding-bottom: 1%;
}

h4 {
  padding-bottom: 3%;
}

.en-tete {
  color: white;
}

.container {
  width: 100%;
  z-index: 5;
  position: relative;
  display: flex;
  flex-direction: column;
  padding-bottom: 200px;
  padding-top: 100px;
}

.container-rectangle {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  width: auto;
  height: max-content;
  position: relative;
  margin: 0;
  padding-top: 100px;
  box-sizing: content-box;
}

.content-propos {
  width: 100%;
  height: max-content;
  display: flex;
  justify-content: space-evenly;
  padding: 100px 0;
}

.content-img {
  width: 538px;
  height: 520px;
  object-fit: cover;
  margin-left: 4%;
}

.content-images {
  padding-top: 100px;
}

.home-section {
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  top: 50%;
  transition: 1s;
  z-index: 5;
  justify-content: center;
  height: max-content;
  padding: 10 0 10 0;
  padding-right: 30%;
}

.hero {
  margin-top: 6%;
}

.hero-heading {
  color: #f0623c;
  font-size: 42px;
  display: block;
  padding: 0px 0px 60px 10px;
}

/* .container-img {
  position: relative;
} */

.home-img {
  width: auto;
  height: 800px;
  position: absolute;
  right: 0;
  margin: 0;
  object-fit: cover;
  overflow: hidden;
  z-index: 0;
}

.presentation {
  z-index: 100;
  padding: 0 150px 0px 150px;
}

.nav-logo-footer {
  display: inline-flex;
  align-self: baseline;
  height: 50px;
  width: auto;
  padding: 0 1%;
}

.nom {
  z-index: 100;
  padding: 250px 150px 30px 150px;
}

.maigrir {
  padding-bottom: 12%;
}

.para {
  padding-bottom: 5%;
}

.rectangle {
  background: #f0623c;
  width: 80%;
  height: max-content;
  border-radius: 20px;
  display: flex;
  padding: 56px 16px;
  align-items: flex-start;
  justify-content: center;
}

.rectangle-signin {
  background: #f0623c;
  width: 80%;
  height: max-content;
  border-radius: 20px;
  display: flex;
  padding: 26px 10px 30px;
  align-items: flex-start;
  justify-content: center;
  text-align: left;
}

.button-a {
  text-align: center;
  padding: 18px 26px;
  color: #fff;
  margin: 32px 0px 32px 0px;
  border: 3px solid rgb(0, 0, 0);
  letter-spacing: 1px;
}

.button-b {
  text-align: center;
  padding: 10px 20px;
  color: #fff;
  border: 3px;
  border-radius: 20px;
  letter-spacing: 1px;
  background-color: black;
  font-size: 12px;
}

.block-title {
  margin: 0px 0px 16px;
  font-size: 27px;
  color: #fff;
}

.description {
  margin: 0px 0px 16px;
}

.images {
  width: 150px;
  height: 150px;
  display: flex;
  border: 3px solid;
  border-radius: 50%;
  margin: 5px 10px;
}

.container-text {
  width: 80%;
  margin: auto;
  padding-bottom: 10%;
  z-index: 10;
}

.container-text-about {
  width: 50%;
  padding-bottom: 10%;
  z-index: 10;
}

.block-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 50px;
}

.block-text {
  display: flex;
  max-width: 40%;
  flex-direction: column;
  align-items: center;
}

.block-meal {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.signup-box {
  padding-top: 100px;
}

.colonne {
  padding: 0 5% 0 5%;
}

/* * {
  box-sizing: border-box;
  position: relative;
} */

.wrapper {
  background: #f0623c;
  font-family: "lato", sans-serif;
  color: rgba(255, 255, 255, 0.7);
}

#form-wrapper {
  margin-top: 80px;
  height: 450px;
  transition: all 1s ease;
  overflow: hidden;
}

#form-wrapper.answering {
  height: 150px;
  overflow: hidden;
}

.question {
  width: 400px;
  margin: 0 auto;
  height: 30px;
  overflow: hidden;
}

.question,
.question * {
  transition: all 0.3s ease;
}

.question .q-back {
  opacity: 1;
}

.question label {
  font-size: 20px;
  padding-left: 20px;
}

.question input,
.question .q-next {
  display: none;
}

.question .q-text {
  height: 30px;
  line-height: 30px;
}

.question .q-answer {
  display: inline;
  color: rgba(0, 0, 0, 0.8);
}

.question.open {
  height: 90px;
  margin-bottom: 150px;
}

.question.open label {
  font-size: 30px;
}

.question.open .q-back {
  opacity: 0;
}

.question.open input {
  display: block;
}

.question.open .q-next {
  display: block;
}

.question.open .q-text {
  height: 40px;
  line-height: 40px;
}

.question.open .q-answer {
  display: none;
}

.q-next {
  display: block;
  position: absolute;
  bottom: 5px;
  right: 0px;
  padding: 0 10px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  font-size: 30px;
  cursor: pointer;
}

.q-next:hover {
  background: rgba(255, 255, 255, 0.1);
}

.q-back {
  position: absolute;
  top: 0px;
  left: 0px;
  color: rgba(0, 0, 0, 0.8);
  width: 100%;
  cursor: pointer;
  font-size: 20px;
  line-height: 30px;
  padding-left: 4px;
}

.q-back:hover {
  background: rgba(255, 255, 255, 0.1);
}

.q-text {
  max-height: 40px;
  overflow: hidden;
  display: block;
}

label {
  display: block;
  width: 100%;
  height: 100%;
  line-height: 40px;
}

input {
  border: 0px;
  outline: 0;
  box-shadow: 0;
  background: rgba(0, 0, 0, 0.15);
  border-bottom: 5px solid rgba(0, 0, 0, 0.05);
  color: black;
  width: 100%;
  height: 50px;
  line-height: 50px;
  padding: 0 10px;
  font-size: 30px;
}

.q-title {
  text-align: center;
  line-height: 150px;
  font-size: 40px;
  font-weight: bold;
}

.q-after {
  width: 400px;
  margin: 0 auto;
  overflow: hidden;
  padding: 20px 0;
}

.q-confirm-text {
  font-size: 20px;
  padding: 20px 0;
}

.q-confirm-button {
  transition: all 0.3s ease;
  display: block;
  padding: 0 10px;
  padding-left: 50px;
  height: 40px;
  line-height: 40px;
  width: 50%;
  font-size: 20px;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.3);
  text-transform: uppercase;
  color: white;
}

.q-confirm-button:hover {
  background: rgba(255, 255, 255, 0.1);
}

.q-confirm-button:before {
  content: ">";
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 40px;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  text-align: center;
  line-height: 40px;
  font-size: 25px;
  color: white;
}

hr {
  box-shadow: 0px;
  outline: 0px;
  border: 0px;
  height: 1px;
  background: rgba(255, 255, 255, 0.2);
}

@media (max-width: 767px) {
  #footer-contact .footer-title.sppb-section-title.sppb-text-right {
    font-size: 70px;
    line-height: 53px;
    letter-spacing: -6px;
    margin-bottom: 30px;
    top: 0;
  }

  #footer-contact .footer-title.sppb-section-title.sppb-text-right:before {
    margin-bottom: 10px;
  }
}

.footer-wrapper {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 200px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;

  z-index: 10;
  background-color: black;
  border-top: 1px solid white;
  /* border-radius: 2px; */
}

.footer {
  width: 100%;
  height: 80%;
  margin: 0;
  padding: 0 1%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  color: white;
}

.footer-link-group {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
  color: inherit;
}

.footer-nav-wrap {
  height: 100%;
  border-left: 1px solid #f0623c;
  padding: 0 2%;
}

.footer-info {
  margin-bottom: 28px;
}