{% extends 'base.html.twig' %}

{% block title %}Training Session
{% endblock %}

{% block body %}
    <div class="container-programme">
        <h1 class="nom-programme">DÉCOUVRE NOS ACTIVITÉS</h1>
    </div>
    <div class="content-images">
        <div class="groupe-images">
            <img src="img/coach-programme.jpeg" class="image-programme">
            <h2 class="titre-activite">CARDIO</h2>
            <h4 class="text-activite">BRULE UN MAX</h4>
            <img src="img/coach-programme-deux.jpeg" class="image-programme">
            <h2 class="titre-activite">FORCE</h2>
            <h4 class="text-activite">SCULPTE TOI</h4>
        </div>
        <div class="groupe-images">

            <img src="img/coach-programme-trois.jpeg" class="image-programme">
            <h2 class="titre-activite">YOGA</h2>
            <h4 class="text-activite">ÉCOUTE TON CORPS</h4>

            <img src="img/coach-programme-quatre.jpeg" class="image-programme">
            <h2 class="titre-activite">ÉTIREMENT</h2>
            <h4 class="text-activite">SE SENTIR DÉTENDU</h4>
        </div>

    </div>
    <a href="inscription.html" class="button a">INSCRIT-TOI MAINTENANT</a>
{% endblock %}
